.bash_history
html/Jayden webpage/images/Thumbs.db
java/hellogui/nbproject/private/private.xml
java/hellogui/nbproject/private/private.properties
/java/hellogui/nbproject/private/
/java/RandumStuff/nbproject/private/
/java/RandomStuff/nbproject/private/
/java/RandomStuff/build/
/java/HelloTF/nbproject/private/
/java/HelloTF/build/
target
build
bin
.git
.svn
*.class
*.bak
Thumbs.db
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.dll
*.lib
*.sbr
*/workspace.xml
